name: toy-diffusion
channels:
  - pytorch
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - pytorch
  - torchvision
  - torchaudio
  - cpuonly
  - jupyter
  - numpy
  - matplotlib
  - seaborn
  - scikit-learn
  - scipy
  - tqdm
  - ipykernel
